@import "vars";
@import "mixin";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  position: relative;
  font-family: "Josefin Sans", "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
  background-color: rgb(236, 234, 214);
  &::after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 10%;
    @include pseudo;
    background: {
      position: 50%;
      image: url("../../public/images/bg.png");
      size: 40%;
    }
  }
}

$red: rgb(218, 15, 15);
$blue: rgb(118, 173, 245);

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80px;
  position: relative;
  z-index: 99;
  overflow: hidden;
  line-height: 1.3;
}

.title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  &::before {
    @include pseudo;
    @include box(110%, 40%, $blue);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  strong {
    font-weight: 700;
  }
}

.container {
  width: 800px;
  margin: 50px auto;
}

#insertDiary {
  .inputBox,
  .contents,
  .section:not(.btns) {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
  }
  &.open {
    .inputBox,
    .contents,
    .section:not(.btns) {
      opacity: 1;
    }
  }
  .section {
    h2 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    .list {
      display: flex;
      justify-content: center;
      label {
        position: relative;
        height: 80px;
        width: 100px;
        input[type="radio"] {
          background: none;
          height: 0;
          width: 0;
          display: none;
          opacity: 0;
        }
        span::before {
          cursor: pointer;
          @include pseudo;
          @include box(60px, 60px, transparent);
          @include absCenter(true, false);
          bottom: 0;
          background: {
            size: contain;
            position: 50%;
            repeat: no-repeat;
          }
        }
        &:nth-child(1) span::before {
          background: {
            image: url("../../public/images/evil.png");
          }
        }
        &:nth-child(2) span::before {
          background: {
            image: url("../../public/images/cry.png");
          }
        }
        &:nth-child(3) span::before {
          background: {
            image: url("../../public/images/laughing.png");
          }
        }
        &:nth-child(4) span::before {
          background: {
            image: url("../../public/images/happy.png");
          }
        }
        &:nth-child(5) span::before {
          background: {
            image: url("../../public/images/love.png");
          }
        }
        // input:checked ~ span:before {
        //   border: 1px solid $blue;
        //   background-color: #fff;
        // }
      }
    }
  }
  .inputBox {
    margin-bottom: 10px;
    input {
      width: 100%;
      padding: 10px 20px;
      border-radius: 5px;
    }
  }
}

textarea,
select {
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #fff;
  &:focus {
    outline-color: $red;
  }
}
textarea {
  height: 200px;
  padding: 20px;
  resize: none;
}
label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}
.btns {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  .btn {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 20px 50px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    border: none;
    border-radius: 100px;
    background-color: $blue;
    @include longShadow(darken($blue, 10), 40);
  }
}

input,
textarea {
  border: 2px solid transparent;
  &:focus-visible {
    outline: none;
    border: 2px solid $blue;
  }
}

.diaryItem {
  textarea {
    height: 100px;
  }
}
.section {
  text-align: center;
  margin-bottom: 20px;
}

.infoBox {
  width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  dl {
    display: flex;
    align-items: center;
    dd {
      margin-left: 5px;
      transform: translateY(2px);
    }
  }
}
.diaryList {
  .titleBox {
    margin: 50px 0;
    padding-top: 50px;
    border-top: 2px dashed rgba(0, 0, 0, 0.4);
    h2 {
      font-size: 32px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
    }
    .total {
      text-align: right;
      strong {
        color: $blue;
        font-size: 24px;
        font-weight: 900;
      }
    }
  }
  .list {
    li {
      margin-bottom: 20px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      .info {
        display: flex;
        position: relative;
        align-items: center;
        margin-bottom: 10px;
      }
      dl {
        display: flex;
        align-items: center;
        margin-right: 20px;
        dd {
          margin-left: 5px;
        }
      }
      .btns {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: -5px;
        .btn {
          margin-left: 5px;
          padding: 5px;
          border-radius: 5px;
        }
        .confirm {
          background-color: $red;
          @include longShadow(darken($red, 10), 30);
        }
      }
      .contents {
        margin-top: 20px;
        padding-top: 20px;
        font-size: 18px;
        font-weight: 500;
        border-top: 1px dashed #d9d9d9;
        white-space: pre-wrap;
      }
    }
  }
}
#footer {
  display: flex;
  justify-content: center;
  // padding-top: 100px;
  padding-bottom: 50px;
  p {
    padding: 15px 30px;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 100px;
    strong {
      font-weight: 900;
    }
  }
}
